@import "./variables";

@mixin section($color) {
  height: 100vh;
  background-color: $color;
}

img.portrait {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px $mainDark;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
  &:hover {
    cursor: pointer;
    transform: scale(1.025);
  }
}

.heading {
  font-family: $heading;
}

.aboutMeContainer {
  @include section(white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  overflow: hidden;
  .left {
    display: flex;
    transform: translateX(-50%);
    opacity: 0;
    h3 {
      margin-bottom: 0;
    }
  }
  .topLeft {
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: flex-end;
    justify-content: center;
  }
  .bottomLeft {
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
  }
  .leftSideMove {
    animation: leftSlideIn 5s ease forwards;
  }
  .right {
    background-color: $accent1;
    max-width: 50vw;
    p {
      font-family: $mainText;
      font-size: max(1.4vw, 1rem);
      padding-top: 3rem;
      width: max(250px, 65%);
      color: $background1;
      font-weight: 900;
    }
    p,
    h3 {
      transform: translateX(50%);
      opacity: 0;
      margin-bottom: 0;
    }
    .rightSideMove {
      animation: rightSlideIn 5s ease forwards;
    }
  }
  .topRight {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }
  .bottomRight {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  @keyframes leftSlideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes rightSlideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .introText {
    font-family: $heading;
    font-size: min(7vw, 3em);
    font-weight: 300;
  }
  .aboutHeading {
    color: $background1;
  }
  .introText2 {
    font-family: $mainText;
    font-size: min(3.5vw, 1.5em);
  }
  .iconContainer {
    width: max(20vw, 300px);
    display: flex;
    justify-content: space-around;
    margin-top: max(30px, 6%);
  }
}

.icon {
  size: 200;
  &:hover {
    cursor: pointer;
    opacity: 50%;
  }
}
.twitterIcon {
  color: $accent2;
}
.linkedInIcon {
  color: $accent1;
}
.githubIcon {
  color: $mainDark;
}

.bodyText {
  font-family: $mainText;
}
@media (max-width: 600px) {
  .aboutMeSection {
    height: 92vh;
  }
  .aboutMeContainer {
    grid-template-rows: 0.5fr 1fr 0.25fr 2fr;
    grid-template-columns: none;
  }
  .topLeft {
    grid-row: 1/2 !important;
    grid-column: auto !important;
  }
  .bottomLeft {
    grid-row: 2/3 !important;
    grid-column: auto !important;
    justify-content: center;
    margin-bottom: 6%;
  }
  .right {
    max-width: 100vw !important;
  }
  .topRight {
    grid-row: 3/4 !important;
    grid-column: auto !important;
  }
  .bottomRight {
    grid-row: 4/5 !important;
    grid-column: auto !important;
  }
  img.portrait {
    height: 150px;
    width: 150px;
  }
  .rightSideDescription {
    padding: 3rem 1rem 0 !important;
  }
  .rightSideDescription,
  .topRight .aboutHeading {
    transform: translateX(4rem);
  }
  .left {
    transform: translateX(-4rem);
  }
}
