@import "./variables";

.mainContainer {
  height: 92vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container {
  scroll-snap-align: start;
}

body {
  overscroll-behavior-y: none;
}
