@import "./variables";

@mixin section($color) {
  height: 100%;
  background-color: $color;
}

@mixin circleFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer {
  @include section(white);
  @include circleFlex();
  .whiteSpace {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    h1 {
      font-family: $mainText;
      font-weight: 600;
      font-size: max(4vw, 1.25rem);
      color: $mainDark;
      opacity: 0;
      transform: translateY(-3rem);
      animation: fadeIn 2s ease forwards;
      letter-spacing: 0.5rem;
    }
    h2 {
      font-family: $mainText;
      font-weight: 100;
      font-size: max(2.5vw, 1rem);
      color: $mainDark;
      position: relative;
      // outline: 2px solid red;
      letter-spacing: 1rem;
    }
    h2::before,
    h2::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    h2::before {
      background: white;
      animation: typewriter 2s steps(9) forwards;
    }
    h2::after {
      width: 0.125em;
      background: black;
      animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
    }

    @keyframes typewriter {
      to {
        left: 100%;
      }
    }
    @keyframes blinky {
      to {
        background: transparent;
      }
    }
    @keyframes fadeIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .waveContainer {
    height: 50vh;
    width: 100vw;
    // overflow: hidden;
    #wave {
      height: 100%;
      right: 1000px;
    }
  }
  .wave {
    // @include circleFlex();
    &:hover {
      cursor: pointer;
      opacity: 50%;
    }
  }
}
