@import "./variables";

@mixin section($color) {
  height: 100vh;
  background-color: $color;
}

img.portrait {
  height: 300px;
  width: 300px;
  z-index: 1;
  border-radius: 50%;
  // grid-column: 2;
  // grid-row: 2/3;
  box-shadow: 5px 5px 20px $grullo;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.homeContainer {
  @include section(white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // display: grid;
  // position: relative;
  // grid-template-columns: 1fr 1fr 4fr;
  // grid-template-rows: repeat(4, 1fr);
  .introText {
    font-family: $mainText;
    font-size: 3em;
  }
  .portraitContainer {
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
  }
  .iconContainer {
    width: 20vw;
    // grid-row: 3/4;
    // grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    .icon {
      size: 200;
    }
  }
}

@media (min-width: 900px) {
}

// div {
//   .portraitBar {
//     background-color: $cgBlue;
//     // position: absolute;
//     // top: 47.65%;
//     // left: 30%;
//     // height: 10%;
//     // width: 75vw;
//     height: 29%;
//     width: 81vw;
//     grid-column: 3/5;
//     grid-row: 2/3;
//     justify-self: center;
//     align-self: flex-end;
//     margin-bottom: 3.9%;
//     display: flex;
//     align-items: center;
//     h3 {
//       color: white;
//       margin-left: 10%;
//     }
//   }

//   .introContainer {
//     grid-row: 2/3;
//     grid-column: 3/4;
//     align-self: center;
//     margin: 0 0 2% 2%;
//     .introText {
//       font-weight: lighter;
//     }
//   }
// }
