@import "./variables";

@mixin descriptionFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div {
  .projectsSection {
    @include section($oliveBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectsHeading {
      margin: 5.5% 0 3% 0;
    }
  }
  .projectsContainer {
    height: 80%;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .projectImageContainer {
      background-color: white;
      height: 100%;
      max-height: 30vh;
      width: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      &:hover {
        cursor: pointer;
      }
      // .projectImage {
      //   max-height: 100%;
      // }
      .project1Image {
        height: 100%;
        width: 100%;
      }
      .project2Image {
        height: 100%;
        width: 50%;
      }
    }
    .project1ImageContainer {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .project2ImageContainer {
      // left: 50%;
      // height: 100%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      background-color: black;
      .project2Image {
        // justify-self: center;
        // align-self: center;
        // margin-left: 25%;
        // height: 20%;
      }
    }

    .project1Description {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .project2Description {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .project3Description {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .rightSideDescription {
      @include descriptionFlex();
      padding: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .leftSideDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5%;
    }

    .project3Image {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
}
