@use "./_home.scss" as home;
@import "./variables";

@mixin descriptionFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div {
  .projectsSection {
    @include section(#e7e7e7);
    display: flex;
    flex-direction: column;
    align-items: center;
    .projectsHeading {
      margin: 3% 0 3% 0;
    }
    height: 100%;
  }
  .projectsContainer {
    height: 80%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-width: 600px;
    .projectBox {
      max-width: 400px;
      max-height: 200px;
      min-width: 200px;
      h3 {
        border-bottom: 0.5px solid;
        border-color: black;
        &:hover {
          border-color: $background2;
        }
      }
      p {
        border-color: $background2;
        margin-top: 4%;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        height: max(200px, 100%);
        h3 {
          color: black;
          &:hover {
            color: $background2;
          }
        }
        .projectsGithubIcon {
          color: $mainDark;
          margin: 0 0.5rem 0.4rem 0.5rem;
          &:hover {
            color: $background2;
          }
        }
      }
    }
    .projectImageContainer {
      background-color: white;
      height: 100%;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      .project1Image {
        height: 100%;
        width: 100%;
        background-color: #e7e7e7;
      }
      .project2Image {
        height: 100%;
        width: 100%;
        background-color: #e7e7e7;
      }
    }
    .project1ImageContainer {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .project1Description {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .project2Description {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .project3Description {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .rightSideProjectDescription {
      padding: 0 5% 0 5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .leftSideProjectDescription {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding: 0 5% 5%;
      text-align: end;
    }

    .projectName {
      font-family: $heading;
      margin: 0;
    }
    .project3Image {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  .projectText {
    font-size: 0.9em;
  }
  @media (max-width: 600px) {
    .projectsSection {
      height: auto;
      padding-top: 15%;
    }
    .projectsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .projectsHeading {
      margin-bottom: 10% !important;
    }
    .projectImageContainer {
      width: 80vw !important;
      margin-bottom: 18%;
    }
    .rightSideProjectDescription,
    .leftSideProjectDescription {
      align-items: center !important;
      text-align: center !important;
      padding: 0 !important;
    }
    .projectBox {
      width: 80vw;
    }
  }
}
