$oliveBlack: #423e37;
$grullo: #aba194;
$frenchLilac: #89608e;
$cgBlue: #007da750;

$mainDark: #393e41;
$background1: #eaf7cf;
$background2: #fcbfb7;
$accent1: #ffbc0a;
$accent2: #3f88c5;
// $heading: "Open Sans Condensed", sans-serif;
$mainText: "Titillium Web", sans-serif;
$heading: "Josefin Sans", sans-serif;
