@import "./variables";

@mixin center {
  display: flex;
  align-items: center;
  justify-self: center;
}

.aboutMeSection {
  @include center;
  @include section(white);
  .aboutMeTextContainer {
    background-color: $cgBlue;
    grid-row: 4/5;
    grid-column: 1/4;
    // transform: rotate(-1deg);
  }
}
