@import "./variables";
// @use "./_aboutMe.scss" as s;

div.contactSection {
  @include section($oliveBlack);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .contactContainer {
    // @include s.shadow;
    box-shadow: 5px 5px 20px black;
    background-color: white;
    width: 70%;
    height: 55%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
