@import "./variables";

@mixin section($color) {
  height: 100vh;
  background-color: $color;
}

img.portrait {
  height: 300px;
  width: 300px;
  z-index: 1;
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2/3;
  box-shadow: 5px 5px 20px $grullo;
}

.homeContainer {
  padding-top: 8vh;
  @include section(white);
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: repeat(4, 1fr);
  .iconContainer {
    width: 100%;
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    .icon {
      size: 200;
    }
  }
}

div {
  .portraitBar {
    background-color: $cgBlue;
    // opacity: 40%;
    position: absolute;
    top: 47.65%;
    left: 30%;
    height: 10%;
    width: 75vw;
    display: flex;
    align-items: center;
    h3 {
      color: white;
      margin-left: 10%;
    }
  }

  .introContainer {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: center;
    margin: 0 0 2% 2%;
    .introText {
      font-weight: lighter;
    }
  }
}
