@import "./variables";

@mixin descriptionFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div {
  .projectsSection {
    @include section($oliveBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectsContainer {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .projectImage {
      background-color: white;
      height: 100%;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
    .project1Image {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .project1Description {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    .project2Description {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .project3Description {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    .rightSideDescription {
      @include descriptionFlex();
      padding: 5%;
    }

    .leftSideDescription {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5%;
    }

    .project2Image {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .project3Image {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
}
