.navbar {
  flex: 0 0 auto;
  background-color: #393e41;
  height: 8.25vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.navbar h1 {
  align-self: center;
  margin: 0 0 0 25%;
  grid-column: 1/2;
  font-size: 2em;
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar h1:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .active {
  color: #fcbfb7;
}
.navbar .sections {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
.navbar .sections h2 {
  all: unset;
  margin-right: 20px;
  font-size: 1.25em;
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar .sections h2:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .sections .active {
  color: #fcbfb7;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}
.homeContainer .whiteSpace h2 {
  position: relative;
}
.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.homeContainer .whiteSpace h2::before {
  background: teal;
  animation: typewriter 4s steps(7) forwards;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}
.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}
.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

.testWave2 {
  animation: moveWave2 5s linear infinite;
}

@media all and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    color: blue;
  }
}
.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}

.homeContainer .whiteSpace h2 {
  position: relative;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: teal;
  animation: typewriter 4s steps(7) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

.testWave2 {
  animation: moveWave2 5s linear infinite;
}

@media all and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    color: blue;
  }
}
div .projectsSection {
  height: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
div .projectsSection .projectsHeading {
  margin: 1% 0 3% 0;
}
div .projectsContainer {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-width: 600px;
}
div .projectsContainer .projectBox {
  max-width: 400px;
  max-height: 200px;
  min-width: 200px;
}
div .projectsContainer .projectImageContainer {
  background-color: white;
  height: 100%;
  width: 100%;
}
div .projectsContainer .projectImageContainer:hover {
  cursor: pointer;
}
div .projectsContainer .projectImageContainer .project1Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .projectImageContainer .project2Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .project1ImageContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}
div .projectsContainer .project2ImageContainer {
  background-color: black;
}
div .projectsContainer .project1Description {
  grid-column: 2/3;
  grid-row: 1/2;
}
div .projectsContainer .project2Description {
  grid-column: 1/2;
  grid-row: 2/3;
}
div .projectsContainer .project3Description {
  grid-column: 2/3;
  grid-row: 3/4;
}
div .projectsContainer .rightSideDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div .projectsContainer .leftSideDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5% 5%;
  text-align: end;
}
div .projectsContainer .project3Image {
  grid-column: 1/2;
  grid-row: 3/4;
}
div .projectText {
  font-size: 0.9em;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}

.homeContainer .whiteSpace h2 {
  position: relative;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: teal;
  animation: typewriter 4s steps(7) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

.testWave2 {
  animation: moveWave2 5s linear infinite;
}

@media all and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    color: blue;
  }
}
div.technologiesSection {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcbfb7;
}
div.technologiesSection h2 {
  margin-bottom: 6%;
  color: #393e41;
}
div.technologiesSection .technologiesContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.technologiesSection .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
}
div.technologiesSection .column p {
  all: unset;
  font-family: "Titillium Web", sans-serif;
  color: #393e41;
  font-size: 1.25em;
}
div.technologiesSection .column h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #393e41;
  font-size: 1.4em;
}
div.technologiesSection .column1 {
  grid-column: 1/2;
}
div.technologiesSection .column2 {
  grid-column: 2/3;
}
div.technologiesSection .column3 {
  grid-column: 3/4;
}
div.technologiesSection .column4 {
  grid-column: 4/5;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
}

.homeContainer .whiteSpace h2 {
  position: relative;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: teal;
  animation: typewriter 4s steps(7) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

.testWave2 {
  animation: moveWave2 5s linear infinite;
}

@media all and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    color: blue;
  }
}
div.contactSection {
  height: 100vh;
  height: 100%;
  background-color: #393e41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.contactSection .contactContainer {
  box-shadow: 5px 5px 20px black;
  background-color: white;
  width: 50%;
  height: 55%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.contactSection .contactContainer .contactHeading {
  margin-top: 5%;
}
div.contactSection .contactContainer .iconContainer {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}
div.contactSection .contactContainer .iconContainer .contactIcon:hover {
  cursor: pointer;
}
div.contactSection .contactContainer .iconContainer .emailIcon {
  color: #fcbfb7;
}
div.contactSection .contactContainer .iconContainer .linkedInIcon {
  color: #ffbc0a;
}
div.contactSection .contactContainer .iconContainer .githubIcon {
  color: #3f88c5;
}

img.portrait {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #aba194;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
}
img.portrait:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.heading {
  font-family: "Josefin Sans", sans-serif;
}

.aboutMeContainer {
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1.5fr;
}
.aboutMeContainer .topLeftGrid {
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.aboutMeContainer .bottomLeftGrid {
  grid-row: 2/3;
  grid-column: 1/2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutMeContainer .topRightGrid {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #ffbc0a;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.aboutMeContainer .bottomRightGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #ffbc0a;
}
.aboutMeContainer .bottomRightGrid p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125em;
  padding: 0 8em 0;
  color: #eaf7cf;
  font-weight: 900;
}
.aboutMeContainer .introText {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
}
.aboutMeContainer .aboutHeading {
  color: #eaf7cf;
}
.aboutMeContainer .introText2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
}
.aboutMeContainer .iconContainer {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.icon {
  size: 200;
}
.icon:hover {
  cursor: pointer;
  opacity: 50%;
}

.bodyText {
  font-family: "Titillium Web", sans-serif;
}

.mainContainer {
  height: 92vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container {
  scroll-snap-align: start;
}

body {
  overscroll-behavior-y: none;
}

html,
body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
