.navbar {
  flex: 0 0 auto;
  background-color: #393e41;
  height: 8.25vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.navbar h1 {
  align-self: center;
  margin: 0 0 0 25%;
  grid-column: 1/2;
  font-size: max(3vw, 2em);
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar h1:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .active {
  color: #fcbfb7;
}
.navbar .sections {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
.navbar .sections h2 {
  all: unset;
  margin-right: 20px;
  font-size: min(4vw, 1.25em);
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar .sections h2:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .sections .active {
  color: #fcbfb7;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.25rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}
.homeContainer .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}
.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.homeContainer .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}
.homeContainer .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}
.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}
.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.25rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeContainer .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeContainer .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

div .projectsSection {
  height: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
div .projectsSection .projectsHeading {
  margin: 1% 0 3% 0;
}
div .projectsContainer {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-width: 600px;
}
div .projectsContainer .projectBox {
  max-width: 400px;
  max-height: 200px;
  min-width: 200px;
}
div .projectsContainer .projectImageContainer {
  background-color: white;
  height: 100%;
  width: 100%;
}
div .projectsContainer .projectImageContainer:hover {
  cursor: pointer;
}
div .projectsContainer .projectImageContainer .project1Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .projectImageContainer .project2Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .project1ImageContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}
div .projectsContainer .project2ImageContainer {
  background-color: black;
}
div .projectsContainer .project1Description {
  grid-column: 2/3;
  grid-row: 1/2;
}
div .projectsContainer .project2Description {
  grid-column: 1/2;
  grid-row: 2/3;
}
div .projectsContainer .project3Description {
  grid-column: 2/3;
  grid-row: 3/4;
}
div .projectsContainer .rightSideDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5% 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
div .projectsContainer .leftSideDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5% 5%;
  text-align: end;
}
div .projectsContainer .project3Image {
  grid-column: 1/2;
  grid-row: 3/4;
}
div .projectText {
  font-size: 0.9em;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.25rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeContainer .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeContainer .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

div.technologiesSection {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcbfb7;
}
div.technologiesSection h2 {
  margin-bottom: 6%;
  color: #393e41;
}
div.technologiesSection .technologiesContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.technologiesSection .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
}
div.technologiesSection .column p {
  all: unset;
  font-family: "Titillium Web", sans-serif;
  color: #393e41;
  font-size: 1.25em;
}
div.technologiesSection .column h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #393e41;
  font-size: 1.4em;
}
div.technologiesSection .column1 {
  grid-column: 1/2;
}
div.technologiesSection .column2 {
  grid-column: 2/3;
}
div.technologiesSection .column3 {
  grid-column: 3/4;
}
div.technologiesSection .column4 {
  grid-column: 4/5;
}

.homeContainer {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeContainer .whiteSpace {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeContainer .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.25rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeContainer .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeContainer .whiteSpace h2::before,
.homeContainer .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeContainer .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeContainer .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeContainer .waveContainer {
  height: 50vh;
  width: 100vw;
}

.homeContainer .waveContainer #wave {
  height: 100%;
  right: 1000px;
}

.homeContainer .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

div.contactSection {
  height: 100vh;
  height: 100%;
  background-color: #393e41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.contactSection .contactContainer {
  box-shadow: 5px 5px 20px black;
  background-color: white;
  width: min(500px, 65%);
  height: 55%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.contactSection .contactContainer .contactHeading {
  margin-top: 5%;
}
div.contactSection .contactContainer .iconContainer {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}
div.contactSection .contactContainer .iconContainer .contactIcon:hover {
  cursor: pointer;
}
div.contactSection .contactContainer .iconContainer .emailIcon {
  color: #fcbfb7;
}
div.contactSection .contactContainer .iconContainer .linkedInIcon {
  color: #ffbc0a;
}
div.contactSection .contactContainer .iconContainer .githubIcon {
  color: #393e41;
}
@media (max-width: 500px) {
  div.contactSection .contactContainer {
    height: 30%;
  }
}

img.portrait {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #aba194;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
}
img.portrait:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.heading {
  font-family: "Josefin Sans", sans-serif;
}

.aboutMeContainer {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  height: 100vh;
  overflow: hidden;
}
.aboutMeContainer .left {
  display: flex;
  transform: translateX(-15rem);
  opacity: 0;
}
.aboutMeContainer .left h3 {
  margin-bottom: 0;
}
.aboutMeContainer .topLeft {
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: flex-end;
  justify-content: center;
}
.aboutMeContainer .bottomLeft {
  grid-column: 1/2;
  grid-row: 2/3;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}
.aboutMeContainer .leftSideMove {
  animation: leftSlideIn 5s ease forwards;
}
.aboutMeContainer .right {
  background-color: #ffbc0a;
}
.aboutMeContainer .right p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.125em;
  padding: 3rem 8rem 0;
  color: #eaf7cf;
  font-weight: 900;
}
.aboutMeContainer .right p,
.aboutMeContainer .right h3 {
  transform: translateX(15rem);
  opacity: 0;
  margin-bottom: 0;
}
.aboutMeContainer .right .rightSideMove {
  animation: rightSlideIn 5s ease forwards;
}
.aboutMeContainer .topRight {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.aboutMeContainer .bottomRight {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@keyframes leftSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aboutMeContainer .introText {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
}
.aboutMeContainer .aboutHeading {
  color: #eaf7cf;
}
.aboutMeContainer .introText2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
}
.aboutMeContainer .iconContainer {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.icon {
  size: 200;
}
.icon:hover {
  cursor: pointer;
  opacity: 50%;
}

.twitterIcon {
  color: #3f88c5;
}

.linkedInIcon {
  color: #ffbc0a;
}

.githubIcon {
  color: #393e41;
}

.bodyText {
  font-family: "Titillium Web", sans-serif;
}

.mainContainer {
  height: 92vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container {
  scroll-snap-align: start;
}

body {
  overscroll-behavior-y: none;
}

html,
body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
