.navbar {
  flex: 0 0 auto;
  background-color: #393e41;
  height: 8.25vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.navbar h1 {
  align-self: center;
  margin: 0 0 0 25%;
  grid-column: 1/2;
  font-size: max(3vw, 2em);
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar h1:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .active {
  color: #fcbfb7;
}
.navbar .sections {
  grid-column: 3/4;
  display: flex;
  align-items: center;
}
.navbar .sections h2 {
  all: unset;
  margin-right: 20px;
  font-size: min(4vw, 1.25em);
  font-family: "Titillium Web", sans-serif;
  color: white;
}
.navbar .sections h2:hover {
  cursor: pointer;
  color: #fcbfb7;
}
.navbar .sections .active {
  color: #fcbfb7;
}

.homeSection {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homeSection .whiteSpace {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.homeSection .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.1rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}
.homeSection .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}
.homeSection .whiteSpace h2::before,
.homeSection .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.homeSection .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}
.homeSection .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeSection .waveContainer {
  height: auto;
  width: 100vw;
}
.homeSection .waveContainer #wave {
  width: 100vw;
  height: 100%;
}
.homeSection .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

@media (max-width: 600px) {
  .mainContainer {
    height: 92vh !important;
  }

  .homeSection {
    width: 100vw;
    overflow-x: hidden;
  }

  .waveContainer {
    width: 250vw !important;
    height: 250vh !important;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }

  #wave {
    height: 65% !important;
    width: 250vw !important;
  }
}
.homeSection {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeSection .whiteSpace {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeSection .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.1rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeSection .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeSection .whiteSpace h2::before,
.homeSection .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeSection .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeSection .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeSection .waveContainer {
  height: auto;
  width: 100vw;
}

.homeSection .waveContainer #wave {
  width: 100vw;
  height: 100%;
}

.homeSection .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

@media (max-width: 600px) {
  .mainContainer {
    height: 92vh !important;
  }

  .homeSection {
    width: 100vw;
    overflow-x: hidden;
  }

  .waveContainer {
    width: 250vw !important;
    height: 250vh !important;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }

  #wave {
    height: 65% !important;
    width: 250vw !important;
  }
}
div .projectsSection {
  height: 100%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
div .projectsSection .projectsHeading {
  margin: 3% 0 3% 0;
}
div .projectsContainer {
  height: 80%;
  width: min(50%, 650px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
div .projectsContainer .projectBox {
  max-width: 400px;
  max-height: 200px;
  min-width: 200px;
}
div .projectsContainer .projectBox h3 {
  border-bottom: 0.5px solid;
  border-color: black;
}
div .projectsContainer .projectBox h3:hover {
  border-color: #fcbfb7;
}
div .projectsContainer .projectBox p {
  border-color: #fcbfb7;
  margin-top: 4%;
}
div .projectsContainer .projectBox a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
div .projectsContainer .projectBox a h3 {
  color: black;
}
div .projectsContainer .projectBox a h3:hover {
  color: #fcbfb7;
}
div .projectsContainer .projectBox a .projectsGithubIcon {
  color: #393e41;
  margin: 0 0.5rem 0.4rem 0.5rem;
}
div .projectsContainer .projectBox a .projectsGithubIcon:hover {
  color: #fcbfb7;
}
div .projectsContainer .projectImageContainer {
  background-color: white;
  height: 100%;
  width: 100%;
}
div .projectsContainer .projectImageContainer:hover {
  cursor: pointer;
}
div .projectsContainer .projectImageContainer .project1Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .projectImageContainer .project2Image {
  height: 100%;
  width: 100%;
  background-color: #e7e7e7;
}
div .projectsContainer .project1ImageContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}
div .projectsContainer .project1Description {
  grid-column: 2/3;
  grid-row: 1/2;
}
div .projectsContainer .project2Description {
  grid-column: 1/2;
  grid-row: 2/3;
}
div .projectsContainer .project3Description {
  grid-column: 2/3;
  grid-row: 3/4;
}
div .projectsContainer .rightSideProjectDescription {
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
div .projectsContainer .leftSideProjectDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 5% 5%;
  text-align: end;
}
div .projectsContainer .projectName {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}
div .projectsContainer .project3Image {
  grid-column: 1/2;
  grid-row: 3/4;
}
div .projectText {
  font-size: 0.9em;
}
@media (max-width: 600px) {
  div .projectsSection {
    height: auto;
    padding-top: 15%;
  }
  div .projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div .projectsHeading {
    margin-bottom: 10% !important;
  }
  div .projectImageContainer {
    width: 80vw !important;
    margin-bottom: 18%;
  }
  div .rightSideProjectDescription,
div .leftSideProjectDescription {
    align-items: center !important;
    text-align: center !important;
    padding: 0 !important;
  }
  div .projectBox {
    width: 80vw;
  }
}

.homeSection {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeSection .whiteSpace {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeSection .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.1rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeSection .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeSection .whiteSpace h2::before,
.homeSection .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeSection .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeSection .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeSection .waveContainer {
  height: auto;
  width: 100vw;
}

.homeSection .waveContainer #wave {
  width: 100vw;
  height: 100%;
}

.homeSection .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

@media (max-width: 600px) {
  .mainContainer {
    height: 92vh !important;
  }

  .homeSection {
    width: 100vw;
    overflow-x: hidden;
  }

  .waveContainer {
    width: 250vw !important;
    height: 250vh !important;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }

  #wave {
    height: 65% !important;
    width: 250vw !important;
  }
}
div.technologiesSection {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcbfb7;
}
div.technologiesSection h2 {
  margin-bottom: 5%;
  color: #393e41;
  font-size: max(2em, 1vw);
}
div.technologiesSection .technologiesContainer {
  width: min(1000px, 80vw);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.technologiesSection .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3.5vh;
}
div.technologiesSection .column p {
  all: unset;
  font-family: "Titillium Web", sans-serif;
  color: #393e41;
  font-size: max(1.3rem, 1.1vw);
}
div.technologiesSection .column h3 {
  font-family: "Josefin Sans", sans-serif;
  color: #393e41;
  font-size: max(1.3rem, 1.35vw);
  border-bottom: solid black 1px;
}
div.technologiesSection .column1 {
  grid-column: 1/2;
}
div.technologiesSection .column2 {
  grid-column: 2/3;
}
div.technologiesSection .column3 {
  grid-column: 3/4;
}
div.technologiesSection .column4 {
  grid-column: 4/5;
}

@media (max-width: 600px) {
  .technologiesSection {
    height: auto !important;
  }
  .technologiesSection h2 {
    margin-top: 25%;
  }

  .technologiesContainer {
    display: flex !important;
    flex-direction: column;
  }

  .column {
    line-height: 2rem !important;
    margin-bottom: 15%;
  }
  .column p,
.column h3 {
    font-size: 1.5rem !important;
  }
}
.homeSection {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.homeSection .whiteSpace {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}

.homeSection .whiteSpace h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: max(4vw, 1.1rem);
  color: #393e41;
  opacity: 0;
  transform: translateY(-3rem);
  animation: fadeIn 2s ease forwards;
  letter-spacing: 0.5rem;
}

.homeSection .whiteSpace h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
  font-size: max(2.5vw, 1rem);
  color: #393e41;
  position: relative;
  letter-spacing: 1rem;
}

.homeSection .whiteSpace h2::before,
.homeSection .whiteSpace h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.homeSection .whiteSpace h2::before {
  background: white;
  animation: typewriter 2s steps(9) forwards;
}

.homeSection .whiteSpace h2::after {
  width: 0.125em;
  background: black;
  animation: typewriter 2s steps(9) forwards, blinky 750ms steps(9) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinky {
  to {
    background: transparent;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.homeSection .waveContainer {
  height: auto;
  width: 100vw;
}

.homeSection .waveContainer #wave {
  width: 100vw;
  height: 100%;
}

.homeSection .wave:hover {
  cursor: pointer;
  opacity: 50%;
}

@media (max-width: 600px) {
  .mainContainer {
    height: 92vh !important;
  }

  .homeSection {
    width: 100vw;
    overflow-x: hidden;
  }

  .waveContainer {
    width: 250vw !important;
    height: 250vh !important;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
  }

  #wave {
    height: 65% !important;
    width: 250vw !important;
  }
}
div.contactSection {
  height: 100vh;
  height: 100%;
  background-color: #393e41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.contactSection .contactContainer {
  box-shadow: 5px 5px 20px black;
  background-color: white;
  width: 65%;
  min-width: 300px;
  max-width: 500px;
  height: min(55%, 400px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}
div.contactSection .contactContainer .contactHeading {
  margin-top: 5%;
  color: #393e41;
}
div.contactSection .contactContainer .iconContainer {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5%;
}
div.contactSection .contactContainer .iconContainer .contactIcon:hover {
  cursor: pointer;
}
div.contactSection .contactContainer .iconContainer .emailIcon {
  color: #fcbfb7;
}
div.contactSection .contactContainer .iconContainer .linkedInIcon {
  color: #ffbc0a;
}
div.contactSection .contactContainer .iconContainer .githubIcon {
  color: #393e41;
}
@media (max-width: 600px) {
  div.contactSection .contactSection {
    height: 92vh;
  }
  div.contactSection .contactContainer {
    height: 30%;
  }
  div.contactSection .contactContainer .iconContainer {
    width: 100%;
    justify-content: space-around;
  }
}

img.portrait {
  height: 200px;
  width: 200px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #393e41;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2%;
}
img.portrait:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.heading {
  font-family: "Josefin Sans", sans-serif;
}

.aboutMeContainer {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  height: max(100vh, 850px);
  overflow: hidden;
}
.aboutMeContainer .left {
  display: flex;
  transform: translateX(-50%);
  opacity: 0;
}
.aboutMeContainer .left h3 {
  margin-bottom: 0;
}
.aboutMeContainer .topLeft {
  grid-column: 1/2;
  grid-row: 1/2;
  align-items: flex-end;
  justify-content: center;
}
.aboutMeContainer .bottomLeft {
  grid-column: 1/2;
  grid-row: 2/3;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}
.aboutMeContainer .leftSideMove {
  animation: leftSlideIn 5s ease forwards;
}
.aboutMeContainer .right {
  background-color: #ffbc0a;
  max-width: 50vw;
}
.aboutMeContainer .right p {
  font-family: "Titillium Web", sans-serif;
  font-size: max(1.2vw, 1.1rem);
  padding-top: 3rem;
  width: max(250px, 65%);
  color: #eaf7cf;
  font-weight: 900;
}
.aboutMeContainer .right p,
.aboutMeContainer .right h3 {
  transform: translateX(50%);
  opacity: 0;
  margin-bottom: 0;
}
.aboutMeContainer .right .rightSideMove {
  animation: rightSlideIn 5s ease forwards;
}
.aboutMeContainer .topRight {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.aboutMeContainer .bottomRight {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@keyframes leftSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightSlideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.aboutMeContainer .introText {
  font-family: "Josefin Sans", sans-serif;
  font-size: min(7vw, 3em);
  font-weight: 300;
}
.aboutMeContainer .aboutHeading {
  color: #eaf7cf;
}
.aboutMeContainer .introText2 {
  font-family: "Titillium Web", sans-serif;
  font-size: min(3.5vw, 1.5em);
}
.aboutMeContainer .iconContainer {
  width: max(20vw, 300px);
  display: flex;
  justify-content: space-around;
  margin-top: max(30px, 6%);
}

.icon {
  size: 200;
}
.icon:hover {
  cursor: pointer;
  opacity: 50%;
}

.twitterIcon {
  color: #3f88c5;
}

.linkedInIcon {
  color: #ffbc0a;
}

.githubIcon {
  color: #393e41;
}

.bodyText {
  font-family: "Titillium Web", sans-serif;
}

@media (max-width: 600px) {
  .aboutMeSection {
    height: 92vh;
  }

  .aboutMeContainer {
    grid-template-rows: 0.5fr 1fr 0.25fr 2fr;
    grid-template-columns: none;
  }

  .topLeft {
    grid-row: 1/2 !important;
    grid-column: auto !important;
  }

  .bottomLeft {
    grid-row: 2/3 !important;
    grid-column: auto !important;
    justify-content: center;
    margin-bottom: 10%;
  }

  .right {
    max-width: 100vw !important;
    padding: 0;
  }

  .topRight {
    grid-row: 3/4 !important;
    grid-column: auto !important;
    padding-top: 3%;
  }

  .bottomRight {
    grid-row: 4/5 !important;
    grid-column: auto !important;
    padding-bottom: 20%;
  }

  img.portrait {
    height: 150px;
    width: 150px;
  }

  .rightSideDescription {
    padding: 1rem 1rem 0 !important;
    font-size: 1rem !important;
  }

  .rightSideDescription,
.topRight .aboutHeading {
    transform: translateX(4rem);
  }

  .left {
    transform: translateX(-4rem);
  }
}
.mainContainer {
  height: 92vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  width: 100vw;
}

.container {
  scroll-snap-align: start;
}

body {
  overscroll-behavior-y: none;
}

@media (max-width: 600px) {
  .mainContainer {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
}
html,
body {
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
