@import "./header";
@import "./variables";
@import "./home";
@import "./projects";
@import "./technologies";
@import "./contact";
@import "./aboutMe";

body {
  // background-color: blue;
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
}
